<% layout('/layouts/boilerplate.ejs') -%>
<body class="login-page-bg">
  <div class="row col-8 offset-2 mt-3">
    <header>
      <h3>New Listing</h3>
    </header>
    <main>
      <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Add title"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Needs a title</div>
          <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Add description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Add a proper description</div>
          <div class="valid-feedback">Description looks good</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload image</label>
          <input
            type="file"
            name="listing[image]"
            placeholder="Upload image"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Upload an image for your listing</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              placeholder="Add price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Add a proper price</div>
            <div class="valid-feedback">Nice pricing</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="Add country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Add a country</div>
            <div class="valid-feedback">Looks good</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Add location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Add location</div>
          <div class="valid-feedback">Looks good</div>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category of listing</label>
          <select name="listing[category]" class="form-control">
            <option value="Trending">Trending</option>
            <option value="Beach">Beach</option>
            <option value="Mountains">Mountains</option>
            <option value="Snow">Snow</option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic cities">Iconic cities</option>
            <option value="Luxury">Luxury</option>
            <option value="Amazing view">Amazing view</option>
            <option value="Spa">Spa</option>
            <option value="Boating">Boating</option>
          </select>
          <div class="invalid-feedback">Add location</div>
          <div class="valid-feedback">Looks good</div>
        </div>
        <button class="btn btn-style mb-4">Add listing</button>
      </form>
    </main>
  </div>
</body>
